= "Welcome " + current_user.name + "!"
=link_to "Sign out", signout_path 

%h1= "All chapters:"

%br
- @chapters.each do |chapter|
    %ul
        %li= link_to(chapter.name + " (ch " + chapter.number.to_s + ")", chapter, :chapter_number => chapter.number)
%br
%p= link_to('Add new chapter', new_chapter_path({:book_id => @book.id}))
%p= link_to('Back', :back)