.login
    = "Welcome " + current_user.name + "!"
    =link_to "Sign out", signout_path 

%h1= @book.name + " (" + @book.author + ")"

%br
- @chapters.each do |chapter|
    %ul
        %li= link_to("Chapter " + chapter.number.to_s, chapter, :chapter_number => chapter.number) + " - " + link_to('Edit', edit_chapter_path(chapter.id))
%br
%p= link_to('Add new chapter', new_chapter_path({:book_id => @book.id}))
%p= link_to('Back to Books', books_path)