= javascript_include_tag "question"
= stylesheet_link_tag "question"

= link_to('Back to Chapters', '/books/' + @book.id.to_s)

.login
     = "Welcome " + current_user.name + "!"
     =link_to "Sign out", signout_path 

%center
     %h2= "#{@book.name} / Chapter #{@chapter.number})"

%br
%hr
%table{:id => "questions"}
     %tbody
          - @questions.each do |question|
               %tr{:id => "question_" + question.id.to_s}
                    - form_for question, :url => :save_question_path, :remote => true do |f|
                         %br
                         = f.label "Question (" + User.find_by_id(question.user_id).name + " on " + question.created_at.strftime("%d/%m/%y at %H:%M").to_s + ")" 
                         = f.text_area :question, :value => question.question, :id => "question_" + question.id.to_s, :class => "field", :question_id => question.id.to_s                          
                         %br
                         = f.label "Correct answer"
                         = f.text_field :correct_answer, :value => question.correct_answer, :class => "field", :id => "correct_answer_" + question.id.to_s, :question_id => question.id.to_s  
                         %br
                         = f.label "Incorrect answer #1"
                         = f.text_field :incorrect_answer_1, :value => question.incorrect_answer_1, :class => "field", :id => "incorrect_answer_1_" + question.id.to_s, :question_id => question.id.to_s  
                         %br
                         = f.label "Incorrect answer #2"
                         = f.text_field :incorrect_answer_2, :value => question.incorrect_answer_2, :id => "incorrect_answer_2_" + question.id.to_s, :class => "field", :question_id => question.id.to_s  
                         %br
                         = f.label "Incorrect answer #3"
                         = f.text_field :incorrect_answer_3, :value => question.incorrect_answer_3, :id => "incorrect_answer_3_" + question.id.to_s, :class => "field", :question_id => question.id.to_s  
                         %br  
                         = f.label "Topic"
                         = f.text_field :topic, :value => question.topic, :id => "topic_" + question.id.to_s, :class => "field", :question_id => question.id.to_s  
                         %br  
                         %br
                         = button_to_function("Saved", "saveQuestion(#{question.id}, #{@chapter.id})", :id => "submit_" + question.id.to_s, :class => "submit")
                         %br
                         %br
                         %hr   
                  
%p= link_to_function('Add question', "addQuestionRow(#{@chapter.id})" )
%p= link_to('Back to Chapters', '/books/' + @book.id.to_s)